<div class="container" >
    <h5>Crud de PRODUCTO</h5>

    <div class="col-md-23" style="margin-top: 3%">
        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro"    type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 38%">Nombre</th>
                                <th style="width: 10%">serie</th>
                                <th style="width: 10%">durabilidad</th>
                                <th style="width: 31%">fechaVigencia</th>
                                <th style="width: 7%">precio </th>
                                <th style="width: 7%">stock </th>
                                <th style="width: 7%">marca </th>
                                <th style="width: 7%">pais </th>
                                <th style="width: 7%">estado </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of productos">
                                <td>{{ aux.idProducto }}</td>
                                <td>{{ aux.nombre }}</td>
                                <td>{{ aux.serie }}</td>
                                <td>{{ aux.durabilidad }}</td>
                                <td>{{ aux.fechaVigencia }}</td>
                                <td>{{ aux.precio }}</td>
                                <td>{{ aux.stock }}</td>
                                <td>{{ aux.marca?.nombre }}</td>
                                <td>{{ aux.pais?.nombre}}</td>
                                <td>{{ aux.estado == 1 ? "Activo" : "Inactivo"}}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idProducto}}" [checked]="aux.estado==1?true:false" name="estado" (change)="actualizaEstado(aux)" />         
                                        <label class="custom-control-label" for="idEstado_{{ aux.idProducto }}"></label>
                                    </div>    
                                </td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" (click)="buscar(aux)" >Editar</button></td>
                                <td><button type="button" style="width: 90px" class="btn btn-danger btn-sm"  (click)="elimina(aux)" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                     <form class="content"  (ngSubmit)="registra()" #registraForm="ngForm">
                        <div class="submit-form">
                            
                                <div  class="row">
                                    <div class="col-lg-4">
                                        <label for="id_reg_nombre">Nombre</label>
                                        <input [(ngModel)]="producto.nombre" type="text"    class="form-control" name="nombre" id="id_reg_nombre" #validaNombre="ngModel" required pattern="[a-zA-Z ]{5,30}"/>
                                        <div *ngIf="validaNombre.invalid && (validaNombre.dirty || validaNombre.touched)" class="alert alert-danger">
                                            <table *ngIf="validaNombre.errors!">                                                
                                                    <li>El nombre es obligatorio</li>
                                                    <li>minimo 5 caracteres </li>                                            
                                            </table>                                           
                                         </div>  
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_serie">serie</label>
                                        <input  [(ngModel)]="producto.serie" type="text"    class="form-control" name="serie" id="id_reg_serie"  #validaSerie="ngModel" required maxlength="10" pattern="[0-9]{10}"/>
                                        <div *ngIf="validaSerie.invalid && (validaSerie.dirty || validaSerie.touched)" class="alert alert-danger">
                                            <div *ngIf="validaSerie.errors!">
                                                <table class="form-table">
                                                    <li>La serie es obligatorio</li>
                                                    <li>La serie es 10 digitos</li>
                                                </table>
                                            </div>   
                                             
                                         </div> 
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="id_reg_durabilidad">durabilidad</label>
                                        <input  [(ngModel)]="producto.durabilidad" type="text"    class="form-control" name="durabilidad" id="id_reg_durabilidad"  #validaDurabilidad="ngModel" required pattern="[a-zA-Z ]{3,30}"/>
                                        <div *ngIf="validaDurabilidad.invalid && (validaDurabilidad.dirty || validaDurabilidad.touched)" class="alert alert-danger">
                                            <table  *ngIf="validaDurabilidad.errors!">                                                
                                                    <li>La durabilidad es obligatorio</li>
                                                <li>el texto debe ser   mayor a 8 digitos</li>
                                            </table>   
                                           
                                         </div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-lg-4">
                                        <label for="id_reg_fechaVigencia">fechaVigencia</label>
                                        <input [(ngModel)]="producto.fechaVigencia" type="date"    class="form-control" name="fechaVigencia" id="id_reg_fechaVigencia" #validaFecha="ngModel" required pattern="^\d{4}([\-/.])(0?[1-9]|1[1-2])\1(3[01]|[12][0-9]|0?[1-9])$"/>
                                        <div *ngIf="validaFecha.invalid && (validaFecha.dirty || validaFecha.touched)" class="alert alert-danger">
                                            <span  *ngIf="validaFecha.errors!">                                                
                                                <p  >La fecha es obligatorio</p>                                               
                                            </span>   
                                           
                                         </div>
                                    </div>
                                    
                                    <div class="col-lg-3">
                                        <label for="id_reg_precio">precio</label>
                                        <input  [(ngModel)]="producto.precio" type="text"    class="form-control" name="precio" id="id_reg_precio"  #validaPrecio="ngModel" minlength="1" maxlength="10" required pattern="[0-9]{1,10}" />
                                        <div  *ngIf="validaPrecio.invalid && (validaPrecio.dirty || validaPrecio.touched)" class="alert alert-danger" >
                                            <table  *ngIf="validaPrecio.errors!">                                                
                                                <p  >el precio es obligatorio</p>                                                
                                            </table>                                              
                                         </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="id_reg_stock">stock</label>
                                        <input  [(ngModel)]="producto.stock" type="number"    class="form-control" name="stock" id="id_reg_stock"  #validaStock="ngModel" required pattern="[1-9]{1,10}"   />
                                        <div  *ngIf="validaStock.invalid && (validaStock.dirty || validaStock.touched)" class="alert alert-danger" >
                                            <span   *ngIf="validaStock.errors!">                                                
                                                    <p  > el stock es obligatorio</p>                                                
                                            </span>                                              
                                         </div>     
                                    </div>
                                </div>  

                                <div class="row" style="margin-top: 5%">
                                    <div class="col-lg-4">
                                        <label for="id_reg_marca">Marca</label>
                                        <select [(ngModel)]="producto.marca!.idMarca" class="form-control"  name="marca"  #validaMarca="ngModel" required pattern="" >
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of m" value="{{ aux.idMarca }}"> 
                                                        {{ aux.nombre}}
                                            </option>
                                        </select>
                                        <div  *ngIf="validaMarca.invalid && (validaMarca.dirty || validaMarca.touched)" class="alert alert-danger" required>
                                            <span   *ngIf="validaMarca.errors!">                                                
                                                    <p  > la marca es obligatorio</p>                                                
                                            </span>                                              
                                         </div>
                                        
                                    </div>

                                    <div class="col-lg-4">
                                        <label  for="id_reg_pais">Pais</label>
                                        <select  [(ngModel)]="producto.pais!.idPais" class="form-control"  name="pais"  #validaPais="ngModel" required >
                                            <option value="-1"> [Seleccione] </option>
                                             <option *ngFor="let aux of  p" value= "{{ aux.idPais}}"> 
                                                        {{ aux.nombre }}
                                             </option>
                                            </select>
                                        <div  *ngIf="validaPais.invalid && (validaPais.dirty || validaPais.touched)" class="alert alert-danger" required>
                                            <span *ngIf="validaPais.errors!">                                                
                                                    <p>pais  es obligatorio</p>                                                
                                            </span>                                              
                                         </div>
                                    </div>                               
                                </div>

                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
                            <button type="reset" class="btn btn-secondary" id="btn_reg_limpiar" style="width: 100px;">Limpiar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;" >Registrar</button>
                                </div>
                            </div>
                        </div>               
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" (ngSubmit)="actualiza()"  #actualizaForm="ngForm">
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-4">
                                    <label for="id_act_nombre">Nombre</label>
                                    <input [(ngModel)]="producto.nombre"  type="text"  class="form-control" name="validaNombre" id="id_act_nombre" #validaNombre="ngModel" required />
                                     
                                </div>
    
                                <div class="col-lg-2">
                                    <label for="id_act_estado">Estado</label>
                                    <select [(ngModel)]="producto.estado"  id="id_act_estado" name="estado" class="form-control" required>
                                        <option value=""> [Seleccione] </option>
                                        <option value="1"> Activo </option>
                                        <option value="0"> Inactivo </option>
                                    </select>
                                   
                                </div>
                                <div class="col-lg-2">
                                    <label for="id_act_serie">Serie</label>
                                    <input [(ngModel)]="producto.serie"  type="text"   class="form-control" name="serie" id="id_act_serie"  maxlength="10" #validaSerie="ngModel" required/>    
                                </div>
                                
                                <div class="col-lg-2">
                                    <label for="id_act_stock">Stock</label>
                                    <input [(ngModel)]="producto.stock"  type="number"   class="form-control" name="stock" id="id_act_stock"  maxlength="8" #validaStock="ngModel" required pattern="[0-9]{4}"/>
                                    
                                </div>
                            </div>  
                            <div  class="row">
                                <div class="col-lg-4">
                                    <label for="id_act_durabilidad">durabilidad</label>
                                    <input [(ngModel)]="producto.durabilidad"  type="text"  class="form-control" name="durabilidad" id="id_act_durabilidad" #validaNombre="ngModel" required pattern="[a-zA-Z ]{3,30}"/>
                                      
                                </div>
    
                                <div class="col-lg-2">
                                    <label for="id_act_fechaVigencia">fechaVigencia</label>
                                    <input [(ngModel)]="producto.fechaVigencia"  type="date"   class="form-control" name="fechaVigencia" id="id_act_fechaVigencia"   required/>
                                    
                                </div>
                                <div class="col-lg-2">
                                    <label for="id_act_precio">Precio</label>
                                    <input [(ngModel)]="producto.precio"  type="text"   class="form-control" name="precio" id="id_act_precio"  maxlength="8" required pattern="[0-9]{8}"/>
                                    
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5%">
                                <div class="col-lg-2">
                                    <label for="id_act_marca">Marca</label>
                                    <select [(ngModel)]="producto.marca!.idMarca"  id="id_act_marca" name="marca" class="form-control" required>
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of m" value="{{ aux.idMarca}}">
                                            {{ aux.nombre }}
                                        </option> 
                                    </select>
                                    
                                </div>
    
                                <div class="col-lg-2">
                                    <label for="id_act_pais">Pais</label>
                                    <select [(ngModel)]="producto.pais!.idPais"  id="id_act_pais" name="pais" class="form-control" #validaProvincia="ngModel" required>
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of p" value="{{ aux.idPais}}">
                                            {{ aux.nombre }}
                                        </option>   
                                    </select>
                                   
                                </div>
    
                            </div> 

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_act_cerrar" style="width: 100px;">Close</button>
                            <button type="reset" class="btn btn-secondary"   id="btn_act_limpiar" style="width: 100px;">Limpiar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_act_actualiza" class="btn btn-success form-control" >Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>