<div>
    <form class="content" (ngSubmit)="insertaProducto()" >
    <div class="submit-form" >  
  
         <div class="row">
            <div class="col-lg-12">
                <h4>Registro de Producto </h4>
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%">
                <div class="col-lg-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)] ="producto.nombre"   />
                </div>
            
                <div class="col-lg-3">
                    <label for="numHombres">serie</label>
                    <input type="text" class="form-control" name="serie"   [(ngModel)] = "producto.serie" />
                </div>

                <div class="col-lg-3">
                    <label for="numMujeres">Durabilidad</label>
                    <input type="text" class="form-control" name="durabilidad"   [(ngModel)] = "producto.durabilidad"  />
                </div>
         </div>
  
        <div class="row" style="margin-top: 3%">
        <div class="col-lg-3">
            <label for="edadMinima">fecha vigencia</label>
            <input type="text"  class="form-control" name="fechaVigencia" [(ngModel)]= "producto.fechaVigencia" />
        </div>
    
        <div class="col-lg-2">
                <label for="edadMaxima">Precio</label>
                <input type="text"  class="form-control"  name="precio" maxlength="3"   [(ngModel)]= "producto.precio"/>
            </div>

            <div class="col-lg-2">
                <label for="sede">Stock</label>
                <input type="number"  class="form-control" name="stock" maxlength="2"  [(ngModel)]= "producto.stock" />
            </div>
 
            
            <div class="col-lg-3">
                <label for="marca">Marca</label>
            <select   name="marca" class="form-control"   [(ngModel)] = "producto.marca" >
               
                    <option value="-1"> [Seleccione] </option>  
                     <option *ngFor="let aux of marca " value="{{aux.idMarca}}">
                        {{aux.nombre}}
                    </option>   
                </select> 
            </div>
     
    <div class="col-lg-3">
                <label for="pais">Pais</label>
                <select  name="pais" class="form-control"  [(ngModel)] ="producto.pais" >  
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of pais" value= "{{aux.idPais}}" >
                        {{aux.nombre}}
                    </option>       
                </select>
            </div>

        </div>
  
        <div class="row" style="margin-top: 3%"> 
                <div class="col-lg-12">
                    <button class="btn btn-primary"  >Enviar</button>
                </div>
        </div>
  
    
      </div>
  
     </form>
  
  
    </div>
