<div class="container" >
    <h5>Crud de Sede</h5>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro" placeholder="Ingrese el nombre" type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 15%">Nombre</th>
                                <th style="width: 15%">Dirección</th>
                                <th style="width: 15%">Fecha Creación</th>
                                <th style="width: 15%">Codigo Postal</th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 31%">Pais</th>
                                <th style="width: 7%"></th>
                                <th style="width: 7%"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of sedes">
                                <td>{{ aux.idSede }}</td>
                                <td>{{ aux.nombre }}</td>
                                <td>{{ aux.direccion }}</td>
                                <td>{{ aux.fechaCreacion }}</td>
                                <td>{{ aux.codigoPostal }}</td>
                                <td>{{ aux.estado == 1 ? "Activo" : "Inactivo"}}</td>
                                <td>{{ aux.pais!.nombre }}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idSede }}" [checked]="aux.estado==1?true:false" name="estado" (change)="actualizaEstado(aux)" />         
                                        <label class="custom-control-label" for="idEstado_{{ aux.idSede }}"></label>
                                    </div>    
                                </td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" (click)="buscar(aux)" >Editar</button></td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal"  (click)="elimina(aux)" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 50%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Sede</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form class="content"  (ngSubmit)="registra()" #registraForm="ngForm">
                        <div class="submit-form">
                            
                                <div  class="row">
                                    <div class="col-lg-8">
                                        <label for="id_reg_nombre">Nombre</label>
                                        <input [(ngModel)]="sede.nombre" type="text" placeholder="Ingrese Nombre" class="form-control" name="nombre" 
                                        id="id_reg_nombre" #validaNombre="ngModel" required pattern="[a-zA-Z ]{3,30}"/>
                                        <div *ngIf="validaNombre.invalid && (validaNombre.dirty || validaNombre.touched)" class="alert alert-danger">
                                            <div *ngIf="validaNombre.errors!">
                                               El nombre es obligatorio
                                            </div>   

                                            <div *ngIf="validaNombre.errors!">
                                                El nombre es de 3 a 30 caracteres
                                            </div> 
                                         </div>   
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_direccion">Dirección</label>
                                        <input [(ngModel)]="sede.direccion" type="text" placeholder="Ingrese Dirección" class="form-control" name="direccion" 
                                        id="id_reg_direccion" #validaDireccion="ngModel" required pattern="[a-zA-Z ]{3,40}"/>
                                        <div *ngIf="validaDireccion.invalid && (validaDireccion.dirty || validaDireccion.touched)" class="alert alert-danger">
                                            <div *ngIf="validaDireccion.errors!">
                                               La dirección es obligatorio
                                            </div>   

                                            <div *ngIf="validaDireccion.errors!">
                                                La dirección es de 3 a 40 caracteres
                                            </div> 
                                         </div>   
                                    </div>

                                    <div class="col-lg-4">
                                        <label for="id_reg_codigoPostal">Codigo Postal</label>
                                        <input [(ngModel)]="sede.codigoPostal" type="text" placeholder="Ingrese Codigo Postal" class="form-control" name="codigoPostal" 
                                        id="id_reg_codigoPostal" #validaCodgiPostal="ngModel" required pattern="[0-9]{5}"/>
                                        <div *ngIf="validaCodgiPostal.invalid && (validaCodgiPostal.dirty || validaCodgiPostal.touched)" class="alert alert-danger">
                                            <div *ngIf="validaCodgiPostal.errors!">
                                               El codigo postal es obligatorio
                                            </div>   
                                            <div *ngIf="validaCodgiPostal.errors!">
                                                El codigo postal  es de 5 digitos
                                            </div> 
                                         </div>   
                                    </div>
                                    <div class="col-lg-4"> 
                                        <label for="id_reg_fechaCreacion">Fecha Creación</label>        
                                        <input [(ngModel)]="sede.fechaCreacion" type="date"class="form-control" name="fechaCreacion" 
                                        id="id_reg_fechaCreacion" #validaFechaCreacion="ngModel" required/>
                                        <div *ngIf="validaFechaCreacion.invalid && (validaFechaCreacion.dirty || validaFechaCreacion.touched)" class="alert alert-danger">
                                            <div *ngIf="validaFechaCreacion.errors!required">
                                                La fecha es obligatoria
                                            </div>
                                        </div>  
                                    </div> 

                                </div> 
                                <div class="row" style="margin-top: 2%">
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_pais">País</label>
                                        <select [(ngModel)]="sede.pais!.idPais"   class="form-control" class="form-control" name="pais" id="id_reg_pais"  #validaPais="ngModel" pattern="[0-9]{1,9}">
                                            <option value="-1"> [Seleccione] </option>
                                                <option *ngFor="let aux of  paises" value="{{ aux.idPais }}"> 
                                                    {{ aux.nombre }}
                                                </option>
                                        </select>

                                        <div *ngIf="validaPais.invalid && (validaPais.dirty || validaPais.touched) " class="alert alert-danger">
                                                    El pais es obligatorio
                                        </div>
                                    </div>
                                
                                </div>

                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
                            <button type="reset" class="btn btn-secondary" id="btn_reg_limpiar" style="width: 100px;">Limpiar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;"  [disabled]="!registraForm.form.valid">Registrar</button>
                                </div>
                            </div>
                        </div>

               
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de Sede</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" (ngSubmit)="actualiza()"  #actualizaForm="ngForm">
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-8">
                                    <label for="id_reg_nombre">Nombre</label>
                                    <input [(ngModel)]="sede.nombre" type="text" placeholder="Ingrese Nombre" class="form-control" name="nombre" 
                                    id="id_reg_nombre" #validaNombre="ngModel" required pattern="[a-zA-Z ]{3,30}"/>
                                    <div *ngIf="validaNombre.invalid && (validaNombre.dirty || validaNombre.touched)" class="alert alert-danger">
                                        <div *ngIf="validaNombre.errors!">
                                           El nombre es obligatorio
                                        </div>   
                                        <div *ngIf="validaNombre.errors!">
                                            El nombre es de 3 a 30 caracteres
                                        </div> 
                                     </div>   
                                </div>
    
                                <div class="col-lg-2">
                                    <label for="id_act_estado">Estado</label>
                                    <select [(ngModel)]="sede.estado"  id="id_act_estado" name="estado" class="form-control" #ValidaEstado="ngModel" required>
                                        <option value=""> [Seleccione] </option>
                                        <option value="1"> Activo </option>
                                        <option value="0"> Inactivo </option>
                                    </select>
                                    <div *ngIf="ValidaEstado.invalid && (ValidaEstado.dirty || ValidaEstado.touched)" class="alert alert-danger">
                                        <div *ngIf="validaNombre.errors!">
                                            El estado es obligatorio
                                        </div>   
                                     </div>
                                </div>

                                <div class="col-lg-8">
                                    <label for="id_reg_direccion">Dirección</label>
                                    <input [(ngModel)]="sede.direccion" type="text" placeholder="Ingrese Dirección" class="form-control" name="direccion" 
                                    id="id_reg_direccion" #validaDireccion="ngModel" required pattern="[a-zA-Z ]{3,30}"/>
                                    <div *ngIf="validaDireccion.invalid && (validaDireccion.dirty || validaDireccion.touched)" class="alert alert-danger">
                                        <div *ngIf="validaDireccion.errors!">
                                           La dirección es obligatorio
                                        </div>   
                                        <div *ngIf="validaDireccion.errors!">
                                            La dirección es de 3 a 30 caracteres
                                        </div> 
                                     </div>   
                                </div>

                                <div class="col-lg-8">
                                    <label for="id_reg_codigoPostal">Codigo Postal</label>
                                    <input [(ngModel)]="sede.codigoPostal" type="text" placeholder="Ingrese Codigo Postal" class="form-control" name="codigoPostal" 
                                    id="id_reg_codigoPostal" #validaCodgiPostal="ngModel" required pattern="[0-9]{5}"/>
                                    <div *ngIf="validaCodgiPostal.invalid && (validaCodgiPostal.dirty || validaCodgiPostal.touched)" class="alert alert-danger">
                                        <div *ngIf="validaCodgiPostal.errors!">
                                           El codigo postal es obligatorio
                                        </div>   
                                        <div *ngIf="validaCodgiPostal.errors!">
                                            El codigo postal  es de 5 digitos
                                        </div> 
                                     </div>   
                                </div>

                            </div>
    
                            <div class="row" style="margin-top: 5%">
                                   
                                <div class="col-lg-4">
                                    <label for="id_reg_pais">País</label>
                                    <select [(ngModel)]="sede.pais!.idPais"   class="form-control" class="form-control" name="pais" id="id_reg_pais"  #validaPais="ngModel" pattern="[0-9]{1,9}">
                                        <option value="-1"> [Seleccione] </option>
                                             <option *ngFor="let aux of  paises" value="{{ aux.idPais }}"> 
                                                {{ aux.nombre }}
                                            </option>
                                    </select>
                                    <div *ngIf="validaPais.invalid && (validaPais.dirty || validaPais.touched) " class="alert alert-danger">
                                                El pais es obligatorio
                                    </div>
                                </div>

                            </div> 
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_act_cerrar" style="width: 100px;">Close</button>
                            <button type="reset" class="btn btn-secondary" id="btn_act_limpiar" style="width: 100px;">Limpiar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_act_actualiza" class="btn btn-success form-control">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>